/* stili generali */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    width: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* header con logo */

header {
    background-color: black;
    padding: 25px 0 35px 0;
}

header img {
    width: 30%;   
}

/* box con immagine di sfondo */

.container-titolo {
    background-image: url(../images/banner.jpg);;
    padding: 40px 40px 25px;
    background-size: cover;
    margin-bottom: 50px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #25a2c3;
    line-height: 1;
    padding: 0 1em;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #393d41;
    line-height: 1.65;
    margin: 1em 0 1em;
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    background-color: #f04c2f;
    border: none;
    padding: 13px 30px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #aa1c0a;
}

/* sezione con info + immagine a cerchio */

.container-dettagli {
    padding: 0 30px;
}

#circle {
    border-radius: 50%;
    width: 70%;
    margin: 1.7em 0;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #25a2c3;
    line-height: 1.5;
    margin: 1.3em 0;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: #ffffff;
    margin: 1.3em 0;
}

/* box con citazione */

.box-quote {
    background-color:#e22d03;
    padding: 40px 25px 25px;
    margin: 60px 0 50px;
}

.box-quote p {
    color: white;
}

#quote {
    font-size: 1rem;
    font-style: italic;
}

#author {
    font-size: 1.5rem;
    margin-bottom: 0;
}

#role {
    margin-top: 0;
    font-size: 1rem;
}

/* 3 box con bordi */

.box {
    text-align: center;
    width: 410px;
    margin: 0 20px;
    border: 1px solid #dee1e3;
    margin-bottom: 35px;
}

.box a{
    color: #25a2c3;
    text-decoration: none;;
}

.box a:visited{
    color: #25a2c3;
}

.box :not(.box-image) {
    padding: 0 20px;
}

.box p {
    margin-bottom: 40px;
}

.box-image {
    width:100%
}

/* footer con contatti */

footer {
    background-color: #25a2c3;
    padding: 30px 25px 35px 25px;
    color: white;
}

.contacts p{
    margin: 0;
    font-size: 1rem;
    color: white;
}

.contacts :last-child{
    margin-bottom: 1.5rem;
}

hr {
    width: 200px;
}

#copyright {
    font-size: 0.9rem;
    color:white;
    margin-top: 1.5rem;
}

a {
    color: white;
    cursor: pointer;
}

a:visited {
    color: lightgray;
}