
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    width: 1905px;
    margin:0;
    text-align: center;
}

header {
    background-color: black;
    padding: 25px 0 35px 0;
    text-align: left;
}

header img {
    width: 8%; 
    margin: 0 0 0 3rem;
}

.container-titolo {
    background-image: url(../images/banner.jpg);;
    background-size: cover;
    margin-bottom: 50px;
    padding: 250px 0 200px 0;
    height: 70vh;
    box-sizing:border-box
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #25a2c3;
    line-height: 1;
    padding: 0 1em;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #393d41;
    line-height: 1.65;
    margin: 1em 0 1em;
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    background-color: #f04c2f;
    border: none;
    padding: 13px 30px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #aa1c0a;
}

section {
    margin: 10rem 0;
}

.container-dettagli {
    margin-left: 5rem;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 28%;
}

#circle {
    border-radius: 50%;
    width: 567px;
    display:inline-block;
    vertical-align: top;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: #25a2c3;
    line-height: 1.5;
    margin: 1.3em 0;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    margin: 1.3em 0;
}

.box-quote {
    background-color:#e22d03;
    padding: 40px 25px 25px;
    margin: 60px 0 50px;
}

.box-quote p {
    color: white;
}

#quote {
    font-size: 2rem;
    font-style: italic;
}

#author {
    font-size: 1.5rem;
    margin-bottom: 0;
}

#role {
    margin-top: 0;
    font-size: 1rem;
}

.box-section{
    width: 100%;
}

.box {
    text-align: center;
    width: 25%;
    border: 1px solid #dee1e3;
    margin: 4rem 1.5rem 10rem;
    display: inline-block;
    vertical-align: top;
    height: 570px;
    overflow: hidden;
}

.box :not(.box-image) {
    padding: 0 20px;
}

.box p {
    margin-bottom: 0px;
}

.box-image {
    height: 350px;
}

footer {
    background-color: #25a2c3;
    padding: 30px 25px 35px 25px;
    color: white;
}

footer h2 {
    font-size: 3.5rem;
    margin-bottom: 1.9rem;
}

.contacts{
    width: 21rem;
    margin: 0 auto;
}

.contacts p{
    margin: 0;
    font-size: 1.1rem;
    color: white;
    text-align: left;
}

.contacts :last-child{
    margin-bottom: 1.5rem;
}

hr {
    width: 100%;
}

#copyright {
    font-size: 0.9rem;
    color:white;
    margin-top: 1.5rem;
    text-align: center;
}

a {
    color: white;
    cursor: pointer;
}

a:visited {
    color: lightgray;
}